{% extends 'myadmin/base.html' %}

{% block section %}{{ section|capfirst }}{% endblock section %}

{% block content %}
	<!-- Head Title -->
	<div class="jumbotron">
		<h1 class="mb-4">Hello, {{ request.user.first_name }}!</h1>
		<p class="lead">Welcome to SaVests Admin Dashboard</p>
	</div>
	<!-- //Head Title -->

	<!-- Overview -->
	<div class="card mb-4" id="mycard">
		<div class="card-block">
			<h3 class="card-title">NUMBER OF USERS CREATED</h3>
			<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card text-white bg-danger">
					<div class="card-header">Within 24hrs</div>
					<div class="card-block">
						<p>{{ created_within_a_day }}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card text-white bg-warning">
					<div class="card-header">Within a Week</div>
					<div class="card-block">
						<p>{{ created_within_a_week }}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card text-white bg-success">
					<div class="card-header">Within a Month</div>
					<div class="card-block">
						<p>{{ created_within_a_month }}</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<!-- // Overview -->
{% endblock content %}